.img{
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98vh;
}

.RowMainContentComponent
{
    margin: 0 !important;
    padding: 0 !important;
}

.test
{
    padding:12rem !important;
}

.test2
{
    margin: 0;
    padding:0;
}

h1
{
    color: #2B2B2B;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 5rem !important;
}

h2
{
    color: #5653FD;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 1.8rem !important;
}

p
{
    color: #2B2B2B;
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.04px;
}

.oknoSpotkanie{
    
    height: 40rem;
    padding: 2rem;
}
.oknoPoint{
    position: absolute;
    left: 2rem;
    bottom: 3.3rem;
    height: 35%;
    width: 38%;
    box-shadow: 0px 1px 10px #0000003B;
}
.oknoPoint2{
    position: absolute;
    left: 30rem;
    bottom: 3.3rem;
    height: 35%;
    width: 40%;
    box-shadow: 0px 1px 10px #0000003B;
    padding: 9px;
}
.Point
{
    position: absolute;
    left: 19rem;
    bottom: 25rem;
    height: 40%;
    width: 70%;
    box-shadow: 0px 1px 10px #0000003B;
}
.StyledPragraph{
    color: #6A67FF;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-check {
    font-size: 1.5rem !important;
}

.form-group{
    padding: 1rem!important;
}