

.ContainterUsersListComponent{
    width: 25rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000003B;
    height: 50rem;
}

.RowSpotkanie
{

}

.PSpotkaniePierwsze
{
    color:#A5A4A4;
    font-size: 1.4rem;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid #5653FD 1px;
}
.PSpotkanieDrugie
{
    color:#A5A4A4;
    font-size: 1.4rem;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}