.ButtonLogin{
    border-radius: 0.2rem;
    border: solid #5653FD 1px;
    background-color: #5653FD;
    width: 20rem;
    padding: 0.6rem;
    font-weight: 500;
    text-align: center;
    color:white !important;
    margin-top: 2rem;
}

.ButtonLogin:hover{
    background-color: #2420F5;
    color: white;
    font-weight: 500;
    transition: 0.4s;
    cursor: pointer;
}